header {
    height: 52px;
    position: fixed;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,  rgb(139, 2, 130), rgb(247, 204, 204));
    color: rgb(247, 204, 204);
    z-index: 1;
}

nav {
    text-align: center;
    position: relative;
}

nav li {
    display: inline-block;
    margin: 16px 10px;
}

nav li:not(:last-child):after {
    content: "•";
    margin-left: 24px;
}

nav li a {
    text-decoration: none;
    color: rgb(247, 204, 204);
    transition: 0.3s color;
}

nav li a:hover{
    color: rgba(247, 204, 204, 0.5);
}

@media screen and (max-width:1040px) {
    header {
        display: none;
    }
}